@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 45.1% 90%;
    --foreground: 30 19% 8.2%;
    --card: 40 75% 96.9%;
    --card-foreground: 30 19% 8.2%;
    --popover: 40 75% 96.9%;
    --popover-foreground: 30 19% 8.2%;
    --primary: 12 58.6% 44.5%;
    --primary-foreground: 37 100% 97.5%;
    --secondary: 36 37% 85.7%;
    --secondary-foreground: 30 19% 8.2%;
    --muted: 36 37% 85.7%;
    --muted-foreground: 30 7.4% 37.3%;
    --accent: 36 37% 85.7%;
    --accent-foreground: 12 58.6% 44.5%;
    --destructive: 0 84.2% 60.2%;
    --border: 35 20% 74%;
    --input: 35 20% 74%;
    --ring: 12 58.6% 44.5%;
    --radius: 0.5rem;
    --chart-1: 12 58.6% 44.5%;
    --chart-2: 116 6.3% 43.5%;
    --chart-3: 30 19% 8.2%;
    --chart-4: 30 7.4% 37.3%;
    --chart-5: 36 37% 85.7%;
    --brand-sage: 116 6.3% 43.5%;
  }

  .dark:root {
    --background: 26 17.9% 7.6%;
    --foreground: 34 55.6% 91.2%;
    --card: 27 20% 10.8%;
    --card-foreground: 34 55.6% 91.2%;
    --popover: 27 20% 10.8%;
    --popover-foreground: 34 55.6% 91.2%;
    --primary: 13 64.1% 57.5%;
    --primary-foreground: 26 17.9% 7.6%;
    --secondary: 27 20% 10.8%;
    --secondary-foreground: 34 55.6% 91.2%;
    --muted: 27 20% 10.8%;
    --muted-foreground: 33 19.1% 66.1%;
    --accent: 27 20% 10.8%;
    --accent-foreground: 13 64.1% 57.5%;
    --destructive: 0 70.9% 59.4%;
    --border: 28 16% 28%;
    --input: 28 16% 28%;
    --ring: 13 64.1% 57.5%;
    --chart-1: 13 64.1% 57.5%;
    --chart-2: 111 10.3% 63.7%;
    --chart-3: 34 55.6% 91.2%;
    --chart-4: 33 19.1% 66.1%;
    --chart-5: 27 20% 10.8%;
    --brand-sage: 111 10.3% 63.7%;
  }
}
